@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    font-family: 'Cutive Mono', monospace !important;
    background: url("../images/nairobi.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}

.layer {
    background-color: rgba(53, 53, 53, 0.8) !important;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav-links {
    padding-top: 30% !important;
}

.nav-item a:hover, a:active {
    border-bottom: solid #dc2743 1px;
    font-weight: 700;
}

.links {
    font-size: 25px !important;
}

.sde {
    font-size: 70px !important;
}

.interest {
    font-size: 35px !important;
}

.socials {
    margin-bottom: 3% ;
    margin-left: 3%;
    text-align: left ;
}

.fa-instagram {
    background: #f09433;
    padding: 6px 10px !important;
    border-radius: 15%;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-twitter {
    background: #00aced;
    padding: 6px !important;
    border-radius: 15%;
    
}

.fa-linkedin-in {
    background: #007bb6;
    padding: 6px 10px !important;
    border-radius: 15%;
    
}

.base-img {
    opacity: 60%;
}

@media screen and (max-width: 992px) {
    .nav-links {
        padding-top: 0% !important;
    }
  }
  .socials {
    margin-bottom: 1% ;
    text-align: center ;
}

.sde {
    font-size: 60px !important;
}

.interest {
    font-size: 30px !important;
}

.text-uppercase {
    font-size: 16px;
}
  
  @media screen and (max-width: 600px) {
    .nav-links {
        padding-top: 0% !important;
    }
  }
  .socials {
    margin-bottom: 1% ;
    text-align: center;
}

.sde {
    font-size: 60px !important;
}

.interest {
    font-size: 30px !important;
}

.text-uppercase {
    font-size: 16px;
}