html,
body {
    height: 100%;
}

.vert-container {
    margin: 5%;
    height: 100%;
    align-items: center;
}

header .logo {
	float: left;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 25px;
	position: relative;
}
header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	width: 82px;
	height: 45px;
	background: url("../img/favicon.png") no-repeat center;
	background-size: 82px 45px;
}
section .text-size {
    font-size: 7%;
}

nav li .on-hover:hover{
    color:#ffc107 !important;
}

a .on-hover:hover{
    color:#fff !important;
}
.btn-hover:hover{
    color:#ffc107 !important;
    background-color: white !important;
    text-decoration-line: none;
}
div .about-container{
    color: #fff9;
    font-size:19px;
}
.span-border{
    border: 1px grey solid;
    padding: 8px;
}
.about-img{
    margin-top: 0%;
}
.devicon{
    font-size: 500%;
}

#home{
    margin-top:20%;
    margin-bottom:20%;
}
#about{
    margin-top:10%;
    padding-top:7%;
    margin-bottom:10%;
}
 #contact{
    margin: 10%;
    padding-top: 10%;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;} 
    #home {padding-top:50%;} 
    .bg-collapse {
        background-color:#343a40;
    }
    #contact{padding-to: 95px;}
    #about {padding-top: 45%;}
}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
    #home {padding-top:45%;} 

}
/* Media Queries: Tablet Portrait */
@media screen and (max-width: 480px) {
    #home {padding-top:15%;}
    .bg-collapse {
        background-color:#343a40;
    }

    .devicon{font-size:50px !important;}
    .fa-3x{font-size:35px !important;}


    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
